{% extends "layout.html.twig" %}
{% block title 'Condiciones de uso' %}
{% block metadesc %}Condiciones de uso{% endblock %}
{% block pageid 'pagina' %}

{% block contenido %}

<h1>Condiciones de uso</h1>
	<p>Estas son las condiciones de uso del sitio web Symfony 2025.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia iusto voluptatum ut expedita, nesciunt mollitia impedit culpa quod ullam possimus aliquid accusantium numquam officiis consectetur cupiditate a odio error corporis!
			Nulla praesentium, eum perspiciatis voluptate minus quod ipsam, id dolor in illum delectus. Obcaecati, quaerat nobis. Sunt praesentium quam consectetur, non omnis cum earum, amet voluptates nostrum quis tempora minima.
			Velit ad autem nisi exercitationem itaque ea asperiores blanditiis. Temporibus ea distinctio aliquam asperiores qui. Inventore optio illo ab id saepe, dignissimos aliquid explicabo neque aut nam provident dolor minima.</p>

{% endblock %}
