{% extends 'layout.html.twig' %}

{% block title %}Portada - Symfony 2025
{% endblock %}

{% block contenido %}
	<div class="flash">
		{% for mensaje in app.flashes('info') %}
			<div class="alert alert-info">{{ mensaje | raw }}</div>
		{% endfor %}
	</div>

	<div style="display: flex;">
		<div class="grid_6 alpha">
			<ul>
				{% for evento in eventosCol1 %}
					{% include 'describir_evento.html.twig' with { evento: evento } %}
				{% else %}
					<li>No hay ningún evento</li>
				{% endfor %}
			</ul>
		</div>

		<div class="grid_6 omega">
			<ul>
				{% for evento in eventosCol2 %}
					{% include 'describir_evento.html.twig' with { evento: evento } %}
				{% else %}
					<li>No hay ningún evento</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
