{% extends 'base.html.twig' %}

{% block title %}Hello EventoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hola, bienvenido al Controlador de Eventos ({{ controller_name }})! ✅</h1>

    {{ 'C:/xampp-7.2.34/htdocs/cursoSymfony5/templates/evento/index.html.twig'|file_link(0) }}
</div>
{% endblock %}
