{% extends "base.html.twig" %}
{% block header %}
<h1 class="grid_5 alpha"><a href="#">Gestión de eventos</a></h1>
<nav class="grid_11 omega">
<ul>
<li><a href="{{ path('app_portada') }}">Sitio público</a></li>
<li><a href="{{ path('app_admin_evento_listar') }}">Eventos</a></li>
</ul>
</nav>

<h1>{{ block('title') }}</h1>
{% endblock %}

{% block body %}
<div class="container_16">
    <div class="grid_16">
        {% block contenido %}{% endblock %}
    </div>
</div>
{% endblock %}
