{% extends 'layout-admin.html.twig' %}
{% block title %}Nuevo evento{% endblock %}
{% block pageid %}admin{% endblock %}
{% block body %}
  <h1>Nuevo evento</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="">Guardar</button>
  {{ form_end(form) }}
{% endblock %}
